ant antlr aopalliance asm avalon-framework backport-util-concurrent biz c3p0 ch classworlds co com commons-beanutils commons-chain commons-cli commons-codec commons-collections commons-configuration commons-daemon commons-dbutils commons-digester commons-el commons-fileupload commons-httpclient commons-io commons-lang commons-logging commons-net commons-validator de dk dnsjava dom4j doxia error geronimo-spec io javassist javax jaxen jdom jline joda-time jtidy junit kr log4j logkit mysql net ognl org oro plexus redis rome sslext stax tomcat xerces xml-apis xml-resolver xmlenc xmlpull xmlunit xpp3
